Page{
  padding: 20rpx;
  background-color: #e6fafa;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item{
        height: 200rpx;
        width: 200rpx;
        background-color: #54b8ac;
        border-radius: 25rpx;
        margin: 20rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30rpx;
    }
}